<ion-header>
  <ion-navbar color="primary">
  <button ion-button icon-only menuToggle>
      <ion-icon  name="menu"></ion-icon>
    </button>
    <ion-title>Incidents</ion-title>
  </ion-navbar>

  <ion-toolbar>
    <ion-segment [ngModel]="selectedSegment"  (ionChange)="onSegmentChange($event.value)">
      <ion-segment-button value="assigned">Assigned
      </ion-segment-button>
      <ion-segment-button value="scheduled">Scheduled
      </ion-segment-button>
      <ion-segment-button value="fixed">Fixed
      </ion-segment-button>
      <ion-segment-button value="notFixed">Not Fixed
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
</ion-refresher>

  <ion-list>
    <ion-item text-wrap *ngFor="let inc of shownIncidents;let i=index" (click)='openIncidentPage(i)'>
        <!-- <ion-thumbnail item-start>
            <img [src]="inc.img">
          </ion-thumbnail> -->
      <h6><b>Product:</b>{{inc.productName}}</h6>
      <p>Category: {{inc.againstCategoryName}}</p>
      <p>Problem: {{inc.title}}</p>
      <p>Priority: {{inc.priority}}</p>
      <p>Created: {{inc.createdAt | date}}</p>

      <!-- <ion-row>
        <ion-col><b style="font-size: small">{{inc.name}}</b>
        </ion-col>
      </ion-row>
      <ion-row >
        <ion-col col-6 no-margin>
          <p style="font-size: small">{{inc.category}}</p>
        </ion-col>
        <ion-col col-6>
            <ion-badge float-right *ngIf="inc.incident.status==='Scheduled'">{{inc.incident.scheduledDate.slice(0,8)}}</ion-badge>
            <ion-badge float-right *ngIf="inc.incident.status==='Engineer Assigned'">{{inc.incident.created}}</ion-badge>
            <ion-badge float-right *ngIf="inc.incident.status==='Fixed'">{{inc.incident.fixed.date.slice(10)}}</ion-badge>
          </ion-col>
      </ion-row> -->
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll>

  <ion-fab right bottom>
      <button ion-fab (click)="onSort()">
          <ion-icon  name="arrow-round-down"></ion-icon><ion-icon name="arrow-round-up"></ion-icon>
        </button>
    </ion-fab>
</ion-content>