page-ncidents {
    .segment-button.segment-activated{
        border-color: #ffffff!important;
    }
    .segment-button{
        color: white!important;
 
    }
    .segment-ios .segment-button:not(:first-of-type){
        border-left-width: 1px;
        border-radius: 2px;
    }
}
