page-login {
  ion-content {
    // background:red !important;
    background-image: url("assets/imgs/loginImage.jpg") !important;
    background-size: cover;
  }
  form {
    .logintitle {
      color: color($colors, light);
      text-align: center;
      margin-bottom: 63px;
      font-size: 16px;
    }
    .avatar {
      text-align: center;
    }
  }
  .userIcon {
    font-size: 4em !important;
  }
  .avtarImage {
    width: 100px;
    border-radius: 50%;
  }
  .avatar {
    position: absolute;
    z-index: 5;
    top: -58px;
    width: 100%;
  }
  .loginCard {
    padding: 50px 20px;
    ion-item {
      margin: 10px 0px;
    }
  }
  .loginSubmit {
    padding: 27px 0px;
    margin-top: 32px;
  } ///need to see it
  .valid {
    border-radius: 10px;
    padding: 2px;
    background: color($colors, primary);
    color: white;
    text-align: center;
  }
  .loginForm {
    margin-top: 50px;
    .toolbar-title {
      font-size: 1.5em;
      font-weight: 300;
      color: white;
    }
  }
}
