<ion-header>

  <ion-navbar color="primary">
    <ion-title>Installation</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="background-color">
    <ion-card class="product-card">
        <img [src]="installation.registeredProductPicUrl" class="productImage">
        <div class="product-details" padding-left padding-right>
          <ion-card-title class="brand">
            <h4>
              <b>{{installation.productModelNumber}}</b>
            </h4>
            <p>
              {{installation.productName}}
              <p>
                <p>
                  <b> Purchase Date : </b> {{installation.productPurchaseDate | date:'mediumDate'}}
                </p>
                <div [ngSwitch]="installation.statusId">
                <div *ngSwitchCase="11" >
                  <button ion-button small round full (click)="onHistory()">History</button>
                </div>
              </div>
              <div [ngSwitch]="installation.statusId">
                  <div *ngSwitchCase="4">
                          <button ion-button small color="primary" round full (click)="onHistory()"> History</button>
                   </div>
                   <div *ngSwitchCase="10" >

                    <button ion-button full small round (click)="onSchedule(false)">Schedule</button>
                  </div>
                
              </div>
          </ion-card-title>
        </div>
      </ion-card>
      <div [ngSwitch]="installation.statusId">
          <ion-card *ngSwitchCase="11">
            <div class="centerIcon">
              <ion-icon name="hammer" color="primary" class="iconSize"></ion-icon>
              <div>
                <b>Installed On </b>
              </div>
            </div>
            <div text-center margin-bottom>{{installation.lastModifiedAt | date}}</div>
          </ion-card>
          <ion-card *ngSwitchCase="4">
              <div class="centerIcon">
                  <ion-icon name="ios-alarm" class="iconSize"></ion-icon>
                <div>
                  <b>Scheduled </b>
                </div>
              </div>
             <div text-center margin-bottom>{{installation.lastScheduleDate | date:'short'}}</div>
         </ion-card>


   </div>
   <ion-card class="warrantyCard">
      <div class="centerIcon">
        <ion-icon name="time" color="primary" class="iconSize"></ion-icon>
        <div>
          <b>Important Dates</b>
        </div>
      </div>
      <ion-grid class="gridrow">
        <ion-row>
          <p col-4 class="border-right">
            <b>Installation</b>
            <br>
            <span *ngIf="installation.lastModifiedAt"> {{installation.lastModifiedAt | date:'mediumDate'}}</span>
            <span *ngIf="!installation.lastModifiedAt"> Not Installed</span>
          </p>

          <p col-4 class="border-right">
            <b>Status</b>
            <br> {{installation.statusName}}
          </p>
          <p col-4>
            <b> Priority </b>
            <br> {{installation.priority}}
          </p>
        </ion-row>
      </ion-grid>
      <ion-grid class="warantyRow">
        <ion-row>
          <p col-6 class="border-right">
            <b>Waranty Start</b>
            <br> {{installation.productWarrantyStart}}
          </p>
          <p col-6>
            <b>Waranty End</b>
            <br> {{installation.productWarrantyEnd}}
          </p>
        </ion-row>
      </ion-grid>
    </ion-card>
    <div [ngSwitch]="installation.statusId">
    <ion-card *ngSwitchCase="11">
        <div class="centerIcon">
            <ion-icon  name="md-color-filter" class="iconSize"></ion-icon>
            <div>
              <b>Customer's signature</b>
            </div>
          </div>
        <div padding >
          <img [src]="installation.signatureUrl" alt="Signature Image" >
        </div>
   </ion-card>
   </div>
   
  <ion-card>
     <div class="centerIcon" class="centerIcon">
        <ion-icon ios="ios-contact" md="md-contact" class="iconSize"></ion-icon>
        <div>
          <b>Customer</b>
        </div>
        </div>
        <ion-item>
            <ion-icon item-start name="person" color="primary"></ion-icon>
            <small class="primaryColor">Name </small>
            <div>{{installation.customerName}}</div>
        </ion-item>
        <ion-item>
            <ion-icon item-start name="call" color="primary"> </ion-icon>
            <small class="primaryColor">Phone</small>
            <div>{{installation.customerContactNo}}</div>
          </ion-item>
          <ion-item>
            <ion-icon item-start name="md-mail" color="primary"></ion-icon>
            <small class="primaryColor">Email</small>
            <div>{{installation.customerEmail}}</div>
          </ion-item>
          <div  *ngIf="!contactInfo" text-center >
              <button ion-button small align right round  (click)="onContact()">More</button>
          </div>
          <div *ngIf="contactInfo"> 
            <ion-item>
              <ion-icon item-left name="ios-home" color="primary" ></ion-icon>
              <small class="primaryColor">Address</small>
              <div>{{contactInfo.customerAddressType}}</div>
              <div>{{contactInfo.customerAddress}}</div>
              <div>{{contactInfo.customerCity}}, {{contactInfo.customerState}}, {{contactInfo.customerCountry}}</div>
              <div>PIN: {{contactInfo.customerPostalCode}}</div>
             
            </ion-item>   
          </div>
  </ion-card>

  <ion-fab  bottom right [ngSwitch]="installation.statusId" >
      <button ion-fab color="secondary" *ngSwitchCase="4"><ion-icon name="md-more"></ion-icon></button>
      <ion-fab-list side="top" style="right: 0;">
       <div style="text-align: right;">
      <button ion-button small round (click)="onSchedule(true)"color="secondary">Reschedule</button>
      <button ion-button small round full (click)="onInstalled()" color="secondary">Installed</button>
    </div>
    </ion-fab-list>
</ion-fab>
</ion-content>