<ion-header>
  <ion-navbar color="primary">
    <ion-title>Fixed</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="background-color">
  <ion-card>
    <div class="centerIcon">
      <ion-icon name="md-finger-print" class="iconSize" color="primary"></ion-icon>
      <div>
        <b class="primaryColor">Customer's signature</b>
      </div>
    </div>
    <div *ngIf="!signature" class="signtaurePad">
      <signature-pad [options]="signaturePadOptions"></signature-pad>
    </div>
    <div *ngIf="signature">
      <ion-row>
        <ion-col width-80>
          <img [src]="signature" />
        </ion-col>
      </ion-row>
    </div>

    <ion-item>
      <ion-icon name="chatbubbles" item-left color="primary"></ion-icon>
      <ion-label stacked>Comment</ion-label>
      <ion-input (ionChange)="comment=$event.value" class="commentBox"></ion-input>
    </ion-item>

    <ion-row>
      <ion-col col-6 padding>
        <button ion-button full small round color="secondary" (click)="savePad()">Save</button>
      </ion-col>
      <ion-col col-6 padding>
        <button ion-button full small round color="danger" (click)="clearPad()">Clear</button>
      </ion-col>
    </ion-row>
  </ion-card>

  <div padding>
    <button ion-button full round color="primary" (click)="onSubmit()">Submit</button>
  </div>

</ion-content>
