// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  
  primary:    #04a9f4,
  secondary:  #41c300,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  transparent:transparent
);
//color
$backgroundColor: #f5f1f1;

//border-left
$borderColor:lightgray;
// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";


// .content-ios, .content-md{
//   background:lighten(color($colors,primary),45) !important;
//   box-shadow:4px 6px 12px 2px #fe650136;
// }

// $action-sheet-ios-button-text-color:color($colors,primary);

.status-image{
  height: 100px;
    width: auto;
}
.center-block{
  display:block;
  margin:auto;
}
.background-color{
  background:$backgroundColor!important;
}
ion-card{
  box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.35)!important;
  border-radius: 10px!important;
}
.product-card{
  .productImage {
    width: 50%;
    margin: auto;
  }
}
.activeItem:active{
  background: #ececec;
  transition: 0.2s;

}
.centerIcon {
  text-align: center;
  color: color($colors,primary);

}
  .iconSize {
    font-size: 3em;
  }
  .primaryColor{
    color: color($colors,primary);
  }
  .flex-space-between{
    display: flex;
    justify-content: space-between;
 }
 .nowrap{
  white-space: nowrap;
}
.notePrimary{
  border-radius: 8px;
  background: lighten(color($colors,primary),39);
  padding: 13px;
  margin: 10px;
  color: color($colors,primary);
  border: 0.5px solid color($colors,primary);
}