page-history {
    .timeline{
        padding:5px;
        margin-bottom:25px;
        .history{
          .status{
            padding:1px 5px;
            border-radius:25px;
            background:yellow;
            display:-webkit-inline-box;
          }
          .comment{
            border-left:2px solid color($colors,primary);
            padding:20px 0 20px 5px;
            margin-left:20px;
            p{
              margin:0px;
            }
            .date{
              color: slategray;
        font-weight: 500;
        font-size: 12px;
            }
            position:relative;
          }
          &:last-child{
            &:after{
              position:absolute;
              content:'';
              width:15px;
              height:15px;
              border-radius:50%;
              background:color($colors,primary);
              left: 19px;
            } 
          }
        }
      }
    }
    
    .pageImg{
      padding:5px;
      width:40%;
      display:block;
      margin:auto;
}
