<ion-header>

  <ion-navbar>
    <ion-title>{{title | titlecase}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-item class="shadow" no-lines>
    <img item-start style="height: 70px;width: 70px" [src]="incident.registeredProductPicUrl">
    <h3>
      <b>Product : </b>{{incident.productName}}</h3>
    <h3>
      <b>Model : </b>{{incident.productModelNumber}}
    </h3>
    <h3>
      <b>Purchase Date : </b>{{incident.productPurchaseDate}}</h3>
  </ion-item>

  <ion-card>
    <ion-item text-wrap>
      <ion-icon item-start name="checkmark-circle" color="primary"></ion-icon>
      <ion-label>Warranty : </ion-label>
      <p *ngIf="incident.productWarrantyStart && incident.productWarrantyEnd" item-end>{{incident.productWarrantyStart +' - '+ incident.productWarrantyEnd}}</p>
      <p *ngIf="!(incident.productWarrantyStart && incident.productWarrantyEnd)" item-end>NA</p>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-header>Incident Details</ion-card-header>
    <ion-item text-wrap>
      <small>Title</small>
      <p>{{incident.title}}</p>
    </ion-item>
    <ion-item text-wrap>
      <small>Description</small>
      <p>{{incident.description}}</p>
    </ion-item>
    <ion-item>
      <ion-icon item-start name="checkmark-circle" color="primary"></ion-icon>
      <span>Status : </span>
      <b float-right>{{incident.statusName}}</b>
    </ion-item>
  </ion-card>

  <div [ngSwitch]="incident.statusId">

    <div *ngSwitchCase="2">
      <button ion-button full round (click)="onSchedule(false)">Schedule</button>
    </div>


    <div *ngSwitchCase="4">

      <ion-item>
        <ion-icon color="primary" item-start name="time"></ion-icon>
        <ion-label>Scheduled : </ion-label>
        <p item-end>{{incident.lastScheduleDate | date:'short'}}</p>
      </ion-item>

      <div text-center *ngIf="!contactInfo">
        <button ion-button small clear full (click)="onContact()">Show customer contact</button>
      </div>
      <ion-item *ngIf="contactInfo">

        <h4>
          <b>{{contactInfo.customerAddressType}} Address</b>
        </h4>
        <p>{{contactInfo.customerAddress}}</p>
        <p>{{contactInfo.customerCity}}, {{contactInfo.customerPostalCode}}</p>
        <p>{{contactInfo.customerState}}</p>
        <p>{{contactInfo.customerCountry}}</p>
        <p>{{contactInfo.customerPhone}}</p>
      </ion-item>
      <div text-center>
        <button ion-button small clear full (click)="onHistory()">Go to History</button>
      </div>

      <ion-row>
        <ion-col col-4>
          <button ion-button small round full (click)="onSchedule(true)">Reschedule</button>
        </ion-col>

        <ion-col col-4>
          <button ion-button small round full (click)="onFixed()">Fixed</button>
        </ion-col>
        
        <ion-col col-4>
          <button ion-button small round full (click)="onNotFixed()">Not Fixed</button>
        </ion-col>
      </ion-row>
    </div>

    <div *ngSwitchCase="7">
      <ion-item>
        <ion-icon item-start name="hammer" color="primary"></ion-icon>
        <ion-label>Fixed On: </ion-label>
        <p item-end>{{incident.lastModifiedAt | date}}</p>
      </ion-item>
      <ion-card>
        <ion-card-header>Customer Signature</ion-card-header>
        <div padding >
          <img [src]="incident.signatureUrl" alt="Signature Image">
        </div>
      </ion-card>

      <div padding *ngIf="!contactInfo">
        <button ion-button small round full (click)="onContact()">Show customer contact</button>
      </div>
      <ion-item *ngIf="contactInfo">
          <h4>
            <b>{{contactInfo.customerAddressType}} Address</b>
          </h4>
          <p>{{contactInfo.customerAddress}}</p>
          <p>{{contactInfo.customerCity}}, {{contactInfo.customerPostalCode}}</p>
          <p>{{contactInfo.customerState}}</p>
          <p>{{contactInfo.customerCountry}}</p>
          <p>{{contactInfo.customerPhone}}</p>
        </ion-item>
      <div padding>
        <button ion-button small round full (click)="onHistory()">History</button>
      </div>

    </div>

    <div *ngSwitchCase="6">
     <div padding *ngIf="!contactInfo">
        <button ion-button small round full (click)="onContact()">Show customer contact</button>
      </div>
      <ion-item *ngIf="contactInfo">
          <h4>
            <b>{{contactInfo.customerAddressType}} Address</b>
          </h4>
          <p>{{contactInfo.customerAddress}}</p>
          <p>{{contactInfo.customerCity}}, {{contactInfo.customerPostalCode}}</p>
          <p>{{contactInfo.customerState}}</p>
          <p>{{contactInfo.customerCountry}}</p>
          <p>{{contactInfo.customerPhone}}</p>
        </ion-item>

      <div padding>
        <button ion-button small round full (click)="onHistory()">History</button>
      </div>
    </div>

    <div *ngSwitchCase="9">
      <ion-card>
        <ion-item text-wrap>
          <p>This complaint has been put on hold after recieving unavailablity message from customer. Will be rescheduled soon.</p>
        </ion-item>
        <ion-col col-4>
          <button ion-button small round (click)="onHistory()">History</button>
        </ion-col>
      </ion-card>
    </div>


  </div>
</ion-content>